/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --size: 0;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav button {
    margin-right: .7em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px; 
}

ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    width: 100%;
    line-height: 1.4em;
    height: inherit;
}

ul#messages li {
    margin: 0;
    padding: 0;
}

ul#messages li p {
    margin: 0;
    padding: 0;
}

.input-text {
    display: inline-block;
    font-size: large;
    border: 1px solid grey;
    background: #f1f1f1;
    margin: 0 auto;
    padding: 0px 0px 0px 5px;
}

#emoji-container {
    width: calc(100% - 65px);
    float: left;
    margin-top: 4px;
}

#emoji-container .emojionearea {
    background-color: #f1f1f1;
}

.input-button {
    display: inline-block;
    font-size: large;
    border: 1px solid grey;
    margin: 0 auto;
    background: #2196F3;
    color: white;
    cursor: pointer;
    text-align: center;
}

#send {
    margin-top: 2px;
    margin: 6px 6px 0px 0px;
    width: 50px;
    float: right;
    display: inline-block;
}

.input-button:hover {
    background: #0b7dda;
}

#msg-output-div {
    border: 1px solid grey;
    margin: 0px 0px 0px 0px;
    width: calc(100% - 85px);
    display: inline-block;
    background-color: #f1f1f1;
    height: 100%;
    min-height: 100px;
}

#connected-users-div {
    border: 1px solid grey;
    width: 80px;
    display: inline-block;
    vertical-align: top;
    background-color: #f1f1f1;
    line-height: 1.2em;
}

ul#connected-users {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 5em;
    overflow-y: auto;
    width: 100%;
}

ul#connected-users li {
    margin: 0;
    font-weight: bold;
    font-size: small;
}

ul#connected-users li p {
    margin: 0;
    padding: 0;
}

.big-number {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.15em;
}

tr.jsgrid-header-row,
tr.jsgrid-row,
tr.jsgrid-alt-row {
    height: 1rem;
    line-height: 1em;
    font-size: small;
}

tr.jsgrid-nodata-row {
    /*visibility: hidden;*/
}

th.jsgrid-header-cell {
    padding-top: 5px;
    padding-bottom: 5px;
}

td.jsgrid-cell {
    padding-top: 3px;
    padding-bottom: 3px;
}


#stats-dialog-jsGrid .jsgrid-header-row,
#stats-dialog-jsGrid .jsgrid-row,
#stats-dialog-jsGrid .jsgrid-alt-row {
    font-size: x-small;
}

#guess-title,
#host-title {
    font-size: small;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 1.8em;
}

.game-title-text {
    font-weight: 600;
}


#host-title {
    background-color: wheat;
}

#guess-title {
    background-color: skyblue;
}


#host-game-id,
#guess-game-id {
    font-size: larger;
    font-weight: bold;
}

#games-div {
    width: 100%;
    display: inline-block;
}

main {
    display: inline-block;
    width: 100%;
}

#messages-chat-div {
    width: 100%;
    height: 160px;
}

#host-close,
#guess-close {
    float: right;
    margin-right: 0.5em;
    font-weight: bold;
    vertical-align: top;
}

#host-status,
#guess-status {
    font-weight: bold;
    font-size: large;
}

#messages-div {
    border: 1px solid grey;
    margin-bottom: 0.2em;
}

#guess-footer-div,
#host-footer-div {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-size: small;
    height: 1.8em;
}

.small-text {
    font-size: x-small;
}

.monospaced-text {
    font-family: monospace;
}

.input-button:disabled,
.input-button[disabled] {
    display: inline-block;
    border: 1px solid grey;
    margin: 0 auto;
    background: lightgray;
    color: white;
    cursor: not-allowed;
}

#play-div {
    float: right;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

#play-number {
    width: 3.5em;
    font-family: monospace;
    height: 1.5em;
    vertical-align: middle;
}

.footer-button {
    font-size: small;
    height: 2em;
    width: 5em;
}

#host-header-div,
#guess-header-div {
    height: 2em;
}

#host-header-table,
#guess-header-table {
    width: 100%;
    table-layout: fixed;
}

#guess-header-table td,
#host-header-table td {
    vertical-align: middle;
}

#host-header-table {
    background-color: cornsilk;
}

#guess-header-table {
    background-color: aliceblue;
}
    

#host-footer-table,
#guess-footer-table {
    width: 100%;
    table-layout: fixed;
}

#guess-footer-table td,
#host-footer-table td {
    vertical-align: middle;
}

.play-button {
    width: 3em;    
}

.start-button {
    width: 4em;
}

#guess-game-id,
#host-game-id {
    margin-left: 0.5em;
}

#guess-status,
#host-status {
    margin-right: 0.5em;
}

.btn:disabled,
.btn[disabled] {
    color: lightgray;
    opacity: 0.3;
}

#new-game-number {
    width: 4em;
}

#new-game-maxtries {
    width: 2em;
}

.float-right {
    float: right;
    margin-right: .5em;
}

#new-guess-table,
#new-host-table {
    width: 100%;
    table-layout: fixed;
}

#new-guess-table td,
#new-host-table td {
    vertical-align: middle;
}

#host-game-users {
    font-size: x-small;
}

.win-count {
    color: green;
    font-weight: bold;
    font-size: large;
}

.lost-count {
    color: red;
    font-weight: bold;
    font-size: large;
}

.win-count-small {
    color: green;
    font-weight: bold;
}

.lost-count-small {
    color: red;
    font-weight: bold;
}


.flex-game-info-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-game-info-item {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 300px;
    border: 2px solid grey;
    display: none;
}

#host-buttons-div button,
#guess-buttons-div button {
    margin: 2px;
}

#header-messages {
    background-color: cadetblue;
    font-weight: 600;
}

#messages-title-text {
    margin-left: 10px;
}

.invite-button {
    float: right;
}

#host-game-div {
    -webkit-flex: 1 1 auto;
}

#guess-game-div {
    -webkit-flex: 1 1 auto;
}

.flex-msg-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-msg-item {
    -webkit-flex: 1 1 auto;
}

#invite-link-input {
    width: calc(100% - 35px);
}

